

/* GLOBAL ------------------------------------------*/



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
}

body
{
	font-family: 'Lato','Arial',sans-serif;
	font-weight: 400;
	line-height: 1.25;
	background-color: #FFF;
}

ol, ul {list-style: none;}





/* HEADER ------------------------------------------*/



.header-bottom
{
	height: 150px;
	width:100%;
	background: #c62033;
	position: relative;
	-webkit-transition: height 0.2s ease-in-out;
	-moz-transition: height 0.2s ease-in-out;
	-o-transition: height 0.2s ease-in-out;
	-ms-transition: height 0.2s ease-in-out;
	transition: height 0.2s ease-in-out;
	top:0;
}

.header-bottom .header-logo
{
    display: block;
    position: absolute;
    left: 0;
    width: 320px;
    height: 150px;
    background: #eceef6;
    z-index: 3;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-bottom .header-logo img
{
    width: 257px;
    height: 75px;
    margin: 39px 0 0 33px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-bottom .header-logo::after
{
    position: absolute;
    content: '';
    top: 0;
    right: -45px;
    border-left: 45px solid #eceef6;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-bottom .header-logo-extra
{
    display: block;
    position: absolute;
    left: 320px;
    width: 150px;
    height: 150px;
    background: #9e1a29;
    z-index: 2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-bottom .header-logo-extra .inner
{
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    right: 20px;
    -webkit-transition: right 0.2s ease-in-out;
    -moz-transition: right 0.2s ease-in-out;
    -o-transition: right 0.2s ease-in-out;
    -ms-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out;
}

.header-bottom .header-logo-extra .inner img
{
    width: 60px;
    height: 44px;
}

.header-bottom .header-logo-extra .inner span
{
    display: block;
    color: #fff;
    font-family: 'Khand','Arial',sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.header-bottom .header-logo-extra::before
{
    position: absolute;
    content: '';
    top: 0;
    right: -45px;
    border-left: 45px solid #9e1a29;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



@media only screen and (max-width:1100px)
{
	header .header-bottom{height:100px}
}

@media only screen and (max-width:460px)
{
	header .header-bottom{background:#eceef6}
}




.header-bottom .header-nav
{
    float: right;
    margin: 0 30px 0 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-bottom .header-nav ul li
{
    float: left;
    padding: 60px 0;
    -webkit-transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
    -ms-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
    position: relative;
}

.header-bottom .header-nav ul li a
{
    display: block;
    line-height: 30px;
    color: #fefefe;
    font-family: 'Khand','Arial',sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    padding: 0 11px;
	text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-bottom .header-nav ul li a:hover
{
	background-color: #1a2957;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}




/* CONTENT ------------------------------------------*/



.section-generic
{
    background: -webkit-linear-gradient(top, #aaa9aa 0%, #aaa9aa 80%, #94959d 100%);
    background: -moz-linear-gradient(top, #aaa9aa 0%, #aaa9aa 80%, #94959d 100%);
    background: -o-linear-gradient(top, #aaa9aa 0%, #aaa9aa 80%, #94959d 100%);
    background: -ms-linear-gradient(top, #aaa9aa 0%, #aaa9aa 80%, #94959d 100%);
    background: linear-gradient(to bottom, #aaa9aa 0%, #aaa9aa 80%, #94959d 100%);
    border-bottom: 5px solid #fff;

}


.section-generic .wrapper
{
    background: -webkit-linear-gradient(top, #fff 0%, #fff 80%, #dcdfe5 100%);
    background: -moz-linear-gradient(top, #fff 0%, #fff 80%, #dcdfe5 100%);
    background: -o-linear-gradient(top, #fff 0%, #fff 80%, #dcdfe5 100%);
    background: -ms-linear-gradient(top, #fff 0%, #fff 80%, #dcdfe5 100%);
    background: linear-gradient(to bottom, #fff 0%, #fff 80%, #dcdfe5 100%);
    padding: 60px;
    min-height: 34vh;
}

.wrapper
{
    width: auto;
    max-width: 1100px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.section-title
{
    background: #1a2857;
}

.section-title .wrapper
{
    background: -webkit-linear-gradient(top, #273561, #485379);
    background: -moz-linear-gradient(top, #273561, #485379);
    background: -o-linear-gradient(top, #273561, #485379);
    background: -ms-linear-gradient(top, #273561, #485379);
    background: linear-gradient(to bottom, #273561, #485379);
    padding: 35px 60px;
}

.section-title .wrapper h1
{
    color: #fefefe;
    font-family: 'Khand','Arial',sans-serif;
    font-size: 30px;
    margin: 0;
    line-height: 1;
    float: left;
    padding:0;
	font-weight: 400;
}

.wrapper::after
{
    content: '';
    display: table;
    clear: both;
}


p, ul li, ol li, blockquote, cite, .gform_description
{
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}
ol li {
  margin: 0 0 10px;
}

h1, h2, .gform_title
{
	color: #2b2753;
	font-size: 36px;
	font-weight: 500;
	padding-bottom: 20px;
    font-family: 'Khand','Arial',sans-serif;
}



/* HOME BUTTONS ------------------------------------------*/

.module-box
{
    width: 95%;
    margin: 0 auto;
    background-color: #1a2857;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.module-box h2, .module-box p {
    color: white;
}

.module-description {
    padding: 6px;
}

.module-tail {
    border-left: 1px solid white;
    padding-left: 10px;
}

.module-title h2
{
	font-family: 'Khand','Arial',sans-serif;
	color: #FFF;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 6px;
}


.home-button
{
	width: 95%;
	height: auto;
	display: table;
	background-color: #1a2857;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.algorithm-icon
{
	width: 49px;
	display: block;
	float: left;
	position: absolute;
	margin-left: 23px;
	top: 20px;
	bottom: 20px;
}

.algorithm-icon img
{
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
-webkit-transform: translate3d(-50%,-50%,0);
	position: relative;
}


.home-button:after
{
	content: ' ';
	display: table;
	clear: both;
}

.home-button:hover
{
	background-color: #8a0e1c;
	cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.home-button-text
{
	float: right;
	width: 45%;
    min-height: 48px;
}

.home-button-text p
{
	color: #FFF;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 0;
	padding-bottom: 0;
}









/* FOOTER ------------------------------------------*/


.section-sitemap
{
    padding: 36px 0;
    background: #c62033;
    position: relative;
}

.section-sitemap .sitemap-logo
{
    float: right;
    width: 320px;
    height: 150px;
    background: #fdfdfe;
    z-index: 3;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.section-sitemap .sitemap-logo::after
{
    position: absolute;
    content: '';
    top: 0;
    left: -45px;
    border-right: 45px solid #fdfdfe;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.section-sitemap .sitemap-logo img
{
    width: 257px;
    height: 75px;
    margin: 39px 0 0 33px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.section-sitemap .sitemap-text
{
    position: absolute;
    left: 54px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.section-sitemap .sitemap-text p
{
    color: #fff;
    font-size: 17px;
    line-height: 1.3;
}

.section-sitemap .sitemap-text p a svg {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    position: relative;
    top: 1px;
}

.section-sitemap .sitemap-text p a {
    color: inherit;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

.fade {
    -webkit-transition: all 0.2s ease-in-out !important;
    -moz-transition: all 0.2s ease-in-out !important;
    -o-transition: all 0.2s ease-in-out !important;
    -ms-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}

.section-sitemap .sitemap-social
{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.section-sitemap .sitemap-social a
{
    display: block;
    float: left;
    position: relative;
    width: 30px;
    height: 50px;
}

.section-sitemap .sitemap-social a svg
{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
}

.section-sitemap .sitemap-social a svg path
{
    fill: #fff;
    -webkit-transition: fill 0.2s ease-in-out;
    -moz-transition: fill 0.2s ease-in-out;
    -o-transition: fill 0.2s ease-in-out;
    -ms-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
}

.section-sitemap .sitemap-social a:hover svg path {
    fill: #1a2857;
}

.section-sitemap::after
{
    content: '';
    display: table;
    clear: both;
}

footer
{
	padding: 18px 20px;
	background: #8a0e1c;
	text-align: center;
}

footer p
{
    font-family: Lato;
    font-size: 12px;
    text-transform: uppercase;
    color: #e35565;
	margin-bottom: 0;
}

footer p a
{
    color: #fff;
    font-weight: 700;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

footer p a:hover
{
    color: #e35565;
}

/* RESPONSIVE STYLES ------------------------------------------*/


@media only screen and (max-width: 1350px)
{
	.header-nav {display:none;}
}


@media only screen and (max-width: 770px)
{
	.algorithm-icon, .home-button-title, .home-button-text {float: none;}
	.algorithm-icon, .home-button-title, .home-button-text {position: relative;text-align: center; width:100%;.home-button-text;}
	.algorithm-icon {margin-left: 0px;}
	.home-button-title {top:0;transform: none;left:0;bottom:0;margin: 20px auto !important;border-left: 0px #FFF solid;}
	.home-button-title h2 {top:0;transform: none;padding-left:0 !important;}
	.section-generic .wrapper {padding:20px;}
    .section-title .wrapper {padding: 20px;}
    .module-tail { padding-top: 10px; border: 0px; }
    .module-tail .btn { width: 100%; }
    .module-description { padding-left: inherit; }
}
