<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Australian Centre for Robotic Vision - WebUI</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Khand:400,500,600,700" rel="stylesheet">
    
    <link rel="stylesheet" href="/dist/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cloudvis.css">
    <script src="/dist/jquery/jquery.min.js"></script>
    <script src="/dist/bootstrap/js/bootstrap.min.js"></script>    

  </head>
  <body>
    <div class="header-bottom">
      <a class="header-logo" href="http://roboticvision.org" target="_blank"><img src="/images/rv-logo.svg" alt="Australian Centre for Robotic Vision" width="257" height="75"></a>
      <a class="header-logo-extra" href="/">
        <div class="inner" style="left: 50px;">
          <img src="/images/cv-logo.svg" alt="CloudVis" width="60" height="44"><span>ACRV WebUI</span>
        </div>
      </a>
      <button id="btn-reset" class="btn btn-secondary" style="position: absolute; right: 20px; top: 55px; font-weight: 700;">Reset</button>
      <div class="header-nav">
      </div>
    </div>
    <div class="section-title">
      <div class="wrapper">
        <h1>Home</h1>
      </div>
    </div>
    <div class="section-generic">
      <div class="wrapper" style="min-height: 50.7%;">
        <ul>
        {% for module in modules %}
          <li>
            <div class="module-box task row" data-task-id="{{module.module_id}}">
              <div class="module-title col-sm-4">
                <h2>{{module.module_data.name}}</h2>
              </div>
              <div class="module-description col-sm-6">
                  <p>
                    {%if module.module_data.description %}
                      {{module.module_data.description}}
                    {% else %}
                      [No description available]
                    {% endif %}
                  </p>
                  <div class="instructions d-none">
                    {%if module.module_data.instructions %}
                      {{module.module_data.instructions}}
                    {% else %}
                      [No instructions available]
                    {% endif %}
                  </div>
              </div>
              <div class="module-tail col-sm-2"><button class="btn btn-primary btn-lg btn-start-task">Start</button></div>
            </div>
          </li>
        {% endfor %}

        </ul>
      </div>
    </div>
    <div class="section-sitemap">
      <div class="sitemap-logo"><a href="http://roboticvision.org" target="_blank"><img src="/images/rv-logo.svg" alt="Australian Centre for Robotic Vision" width="257" height="75"></a></div>
      <div class="sitemap-text">
        <p>
        <strong>Australian Centre for Robotic Vision</strong><br>
        2 George Street Brisbane, 4001<br>
        <a href="tel:61-7-3138-7549"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><g><path d="M15.197,14.1l-4.273,4.224c0.583,2.104,2.12,4.702,4.613,7.792c2.492,3.092,5.284,5.884,8.375,8.376 c3.091,2.493,5.705,4.03,7.841,4.613l4.225-4.225c0.486-0.485,1.342-0.688,2.572-0.606s2.469,0.275,3.715,0.582 c1.246,0.309,2.273,0.655,3.084,1.044c1.812,0.874,3.139,1.95,3.98,3.229c0.842,1.278,0.891,2.274,0.146,2.985l-5.195,5.195 c-1.393,1.425-3.285,2.227-5.682,2.403c-2.395,0.178-4.984-0.193-7.768-1.116c-2.785-0.923-5.73-2.387-8.837-4.395 c-3.107-2.007-6.069-4.418-8.885-7.234c-2.816-2.816-5.236-5.785-7.259-8.91c-2.023-3.123-3.496-6.077-4.418-8.861 c-0.922-2.784-1.295-5.365-1.117-7.744c0.178-2.379,0.979-4.265,2.404-5.657l5.195-5.195c0.68-0.68,1.569-0.607,2.67,0.218 c1.1,0.826,2.282,2.129,3.544,3.909c0.614,0.874,1.1,2.444,1.457,4.71C15.941,11.705,15.812,13.258,15.197,14.1z"></path></g></svg>+61 7 3138 7549</a>
        </p>
      </div>
      <div class="sitemap-social">
        <a target="_blank" href="https://www.facebook.com/roboticvisionAU"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><path fill="#231F20" d="M47.143,0H2.858C1.286,0,0.001,1.286,0.001,2.858v44.285C0.001,48.714,1.286,50,2.858,50h44.285 c1.568,0,2.856-1.286,2.856-2.857V2.858C49.999,1.286,48.711,0,47.143,0z M42.44,28.046h-6.869v18.38h-6.998v-18.38h-4.861v-6.619 h4.861c0,0,0-2.712,0-5.65c0-4.442,2.869-8.521,9.487-8.521c2.678,0,4.656,0.254,4.656,0.254l-0.159,6.18 c0,0-2.014-0.018-4.22-0.018c-2.385,0-2.767,1.099-2.767,2.924c0,0.225,0,0.306,0,0.31c0,0.512,0,1.754,0,4.521h7.177L42.44,28.046z "></path></svg></a>
        <a target="_blank" href="https://plus.google.com/u/0/b/115355692200373482627/+RoboticvisionOrg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><g id="MmPon4_1_"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M28.12,12.331c-1.438,1.495-2.838,2.949-4.23,4.396 c-0.542-0.312-1.014-0.608-1.506-0.864c-2.013-1.047-4.15-1.578-6.425-1.452c-1.789,0.099-3.431,0.653-4.907,1.692 c-1.308,0.921-2.427,2.011-3.214,3.419c-0.696,1.243-1.135,2.568-1.316,3.981c-0.292,2.276,0.037,4.449,1.066,6.507 c0.578,1.156,1.376,2.138,2.348,2.991c1.113,0.978,2.321,1.789,3.758,2.187c3.787,1.048,7.234,0.4,10.234-2.193 c1.346-1.164,2.17-2.67,2.549-4.412c0.007-0.034,0.008-0.069,0.01-0.104c0-0.008-0.007-0.016-0.027-0.057 c-3.177-0.024-6.372-0.05-9.596-0.075c0-0.152,0-0.247,0-0.343c0-1.686,0-3.371,0-5.056c0-0.34,0.001-0.341,0.354-0.341 c2.102,0,4.204-0.001,6.306,0c3.005,0.003,6.01,0.007,9.016,0.01c0.123,0.001,0.246,0.001,0.379,0.001 c0.019,0.092,0.041,0.159,0.045,0.228c0.164,2.732,0.037,5.444-0.766,8.078c-1.605,5.269-5.098,8.657-10.356,10.235 c-1.769,0.531-3.589,0.75-5.433,0.684c-4.176-0.149-7.864-1.555-10.941-4.413c-2.842-2.641-4.634-5.877-5.29-9.716 c-0.214-1.255-0.198-2.52-0.141-3.79c0.078-1.707,0.41-3.353,1.026-4.942c0.828-2.137,2.057-4.016,3.646-5.66 c1.743-1.805,3.774-3.184,6.112-4.101c1.494-0.585,3.041-0.943,4.646-1.03c1.587-0.086,3.17-0.082,4.737,0.244 c2.35,0.489,4.477,1.489,6.448,2.836C27.127,11.596,27.586,11.943,28.12,12.331z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M50,27.39c-1.596,0-3.178,0-4.806,0c0,1.637,0,3.22,0,4.82 c-1.619,0-3.192,0-4.798,0c0-0.672,0.001-1.334-0.001-1.997c-0.002-0.833-0.015-1.667-0.005-2.5 c0.003-0.243-0.07-0.318-0.316-0.318c-1.4,0.002-2.802-0.012-4.203-0.021c-0.095-0.001-0.19-0.01-0.299-0.016 c0-1.578,0-3.136,0-4.752c1.588,0,3.178,0,4.824,0c0-0.355-0.002-0.653,0-0.951c0.004-1.18,0.016-2.359,0.011-3.538 c-0.001-0.255,0.058-0.352,0.341-0.348c1.373,0.017,2.748,0.007,4.123,0.007c0.087,0,0.174,0,0.314,0c0,1.604,0,3.185,0,4.818 c1.634,0,3.215,0,4.814,0C50,24.21,50,25.773,50,27.39z"></path></g></g></svg></a>
        <a target="_blank" href="https://twitter.com/roboticvisionau"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><g><path d="M48.609,13.037c-0.57,0.586-1.124,1.018-1.66,1.294c-0.538,0.277-1.051,0.497-1.54,0.659 c-0.487,0.163-0.886,0.286-1.196,0.367c-0.309,0.082-0.463,0.171-0.463,0.269c0,2.767-0.357,5.534-1.075,8.3 c-0.715,2.768-1.838,5.438-3.368,8.008c-1.53,2.572-3.378,4.852-5.543,6.836c-2.164,1.986-4.8,3.574-7.909,4.76 c-3.108,1.189-6.486,1.783-10.132,1.783c-4.167,0-7.61-0.602-10.327-1.807C2.677,42.301,0.879,40.854,0,39.16 c0.325,0.033,0.895,0.023,1.709-0.025c0.813-0.047,1.285-0.072,1.416-0.072c1.334,0,2.408-0.016,3.223-0.049 c0.812-0.033,1.871-0.139,3.174-0.316c1.301-0.18,2.457-0.496,3.467-0.953c1.009-0.455,1.888-1.057,2.637-1.807 c-2.312-0.031-4.403-0.643-6.274-1.832c-1.872-1.188-3.117-2.773-3.735-4.76c0.618,0.131,1.253,0.195,1.904,0.195 c0.943,0,1.855-0.131,2.734-0.391c-4.754-0.943-7.129-3.89-7.129-8.838c1.041,0,2.213-0.016,3.516-0.049 c-1.303-0.878-2.214-1.928-2.734-3.149c-0.521-1.221-0.781-2.759-0.781-4.614c0-1.334,0.521-2.897,1.562-4.688 c2.473,3.028,5.387,5.291,8.74,6.787c3.353,1.498,7.21,2.361,11.572,2.588c-0.065-0.228-0.098-0.66-0.098-1.294 c0-0.635,0.017-1.326,0.049-2.076C24.983,13.069,25,12.63,25,12.5c0-2.702,0.854-4.68,2.562-5.933 c1.709-1.253,4.061-1.88,7.056-1.88c2.962,0,5.452,1.074,7.472,3.223c0.554-0.098,1.14-0.276,1.758-0.537 c0.619-0.26,1.132-0.513,1.538-0.757s0.942-0.577,1.61-1c0.668-0.423,1.149-0.733,1.442-0.928c-1.01,3.158-2.46,5.306-4.347,6.445 c0.976-0.129,2.945-0.195,5.908-0.195C49.642,11.751,49.179,12.451,48.609,13.037z"></path></g></svg></a>
        <a target="_blank" href="https://www.instagram.com/roboticvisionau/"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><g id="_x37_c7AuQ_1_"><g><path d="M50,14.75c0,6.833,0,13.667,0,20.5c-0.082,0.486-0.203,0.971-0.241,1.461c-0.53,6.879-4.792,11.647-11.205,12.787 c-1.097,0.194-2.202,0.336-3.304,0.502c-6.833,0-13.667,0-20.5,0c-0.527-0.084-1.052-0.201-1.583-0.246 C6.284,49.176,1.586,44.849,0.498,38.559C0.322,37.541,0.166,36.52,0,35.5c0-7,0-14,0-21c0.165-1.02,0.316-2.042,0.498-3.06 C1.543,5.562,5.562,1.543,11.444,0.497C12.46,0.316,13.481,0.165,14.5,0c7,0,14,0,21,0c0.486,0.082,0.969,0.193,1.459,0.24 c6.869,0.666,11.418,4.925,12.54,11.202C49.695,12.539,49.834,13.647,50,14.75z M4.425,24.848 c0.033,0.001,0.065,0.001,0.099,0.002c0,2.041-0.061,4.083,0.016,6.121c0.086,2.282,0.137,4.586,0.492,6.835 c0.544,3.444,2.55,5.828,5.932,6.87c1.1,0.338,2.281,0.541,3.431,0.566c5.493,0.116,10.988,0.2,16.482,0.189 c2.281-0.005,4.584-0.125,6.837-0.463c3.448-0.517,5.862-2.478,6.926-5.862c0.345-1.098,0.573-2.276,0.599-3.423 c0.12-5.576,0.202-11.155,0.192-16.732c-0.004-2.239-0.136-4.499-0.462-6.713c-0.586-3.97-3.38-6.678-7.343-7.243 c-1.807-0.258-3.643-0.439-5.465-0.437c-6.035,0.006-12.072,0.051-18.104,0.207C11.421,4.833,8.99,5.646,7.128,7.7 c-1.655,1.827-2.261,4.053-2.375,6.415C4.582,17.689,4.528,21.27,4.425,24.848z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M37.853,24.961c0.04,7.104-5.687,12.86-12.825,12.892 c-7.104,0.03-12.887-5.714-12.911-12.825c-0.023-7.091,5.731-12.876,12.845-12.911C32.045,12.082,37.812,17.828,37.853,24.961z M25.025,33.266c4.568-0.006,8.235-3.674,8.24-8.242c0.006-4.647-3.654-8.304-8.305-8.297c-4.577,0.006-8.229,3.658-8.234,8.236 C16.72,29.612,20.377,33.271,25.025,33.266z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M41.356,11.68c-0.019,1.661-1.383,3.029-3.021,3.03 c-1.654,0.001-3.111-1.494-3.057-3.139c0.053-1.647,1.449-2.972,3.104-2.942C40.055,8.658,41.375,10.014,41.356,11.68z"></path></g></g></svg></a>
        <a target="_blank" href="https://www.linkedin.com/company/australian-centre-for-robotic-vision"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" fill="#010101" d="M38.866,48.816V31.49c0-3.555-1.029-7.112-5.209-7.112 c-4.189,0-5.942,3.557-5.942,7.198v17.24h-11.16V17.089h11.16v4.272c2.94-3.735,5.497-5.273,10.122-5.273 C42.468,16.089,50,18.247,50,30.783v18.033H38.866z M6.238,12.379C2.793,12.379,0,9.878,0,6.787c0-3.098,2.793-5.603,6.238-5.603 c3.442,0,6.229,2.505,6.229,5.603C12.467,9.878,9.68,12.379,6.238,12.379 M11.805,48.816H0.623V17.09h11.182V48.816z"></path></svg></a>
        <a target="_blank" href="https://www.youtube.com/user/roboticvisionAU"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><path fill="#010101" d="M42.31,7.824L25.984,7.81L9.013,7.824C4.769,7.824,0,10.657,0,14.814v20.688 c0,4.156,4.769,6.688,9.013,6.688h17.293H42.31c4.248,0,7.69-2.531,7.69-6.688V14.814C50,10.657,46.558,7.824,42.31,7.824 M21.765,32.969l-0.098-15.756l10.967,7.943L21.765,32.969z"></path></svg></a>
      </div>
    </div>
    <footer>
      <p>© COPYRIGHT 2017, AUSTRALIAN CENTRE FOR ROBOTIC VISION. ALL RIGHTS RESERVED.</p>
    </footer>
    <div class="modal fade" id="task-modal" tabindex="-1" role="dialog" aria-labelledby="task-modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 600px;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
            <a type="button" class="btn btn-primary btn-launch" href="">Start</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      const modal = $('#task-modal');
      $('.btn-start-task').each((idx, btn) => {
        const container = $(btn).closest('.task')
        $(btn).click(() => {
          modal.find('.modal-title').text(container.find('.module-title').text());
          modal.find('.modal-body').html(container.find('.instructions').text());
          modal.find('.btn-launch').attr('href', `/module/${container.data('task-id')}/`)
          modal.modal('toggle');
        });
      })
      $('.btn-launch').click(function () {
        $('.btn-launch').html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="vertical-align: middle;"></span> Loading...')
        $('.close-modal').css('display', 'none');
      })
      $('#btn-reset').click(function () {
        $('#btn-reset').html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="vertical-align: middle;"></span> Resetting...')
        window.location = '/reset';
      })
    </script>
  </body>
</html>
