<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Australian Centre for Robotic Vision - WebUI</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Khand:400,500,600,700" rel="stylesheet">
    
    <link rel="stylesheet" href="/dist/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cloudvis.css">
    <script src="/dist/jquery/jquery.min.js"></script>
    <script src="/dist/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/dist/threejs/three.min.js"></script>
    <script type="text/javascript" src="/dist/threejs/ColladaLoader.js"></script>
    <script type="text/javascript" src="/dist/EventEmitter2/eventemitter2.min.js"></script>
    <script type="text/javascript" src="/dist/roslibjs/roslib.min.js"></script>
    <script type="text/javascript" src="/dist/ros3d/ros3d.min.js"></script>
    
  </head>
  <body>
    <div class="header-bottom">
      <a class="header-logo" href="http://roboticvision.org" target="_blank"><img src="/images/rv-logo.svg" alt="Australian Centre for Robotic Vision" width="257" height="75"></a>
      <a class="header-logo-extra" href="/">
        <div class="inner" style="left: 50px;">
          <img src="/images/cv-logo.svg" alt="CloudVis" width="60" height="44"><span>ACRV WebUI</span>
        </div>
      </a>
      <div class="header-nav">
         
      </div>
    </div>
    <div class="section-title">
    </div>
    <div>
      {{html|safe}}
    </div>
  </body>
</html>